.join {
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  transition: ease-in-out 0.5s;
}
.join .join-btns {
flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}




 
.join .logout,
.log-in,
.sign-up {
    text-decoration: none;
    padding: 5px;
    border: 1px #02ff6b solid;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    background: #3f51b5;
    transition: background ease-in-out 0.3s;
}


  
  .log-in:hover,
  .sign-up:hover{
    background: #ffffff;
    color: #3f51b5;
  
}
.join-links .log-in,
.sign-up {
  margin: 0;
}
.join-btns {
  transition: ease-in-out 0.5s;
  z-index: 2;
}
.move-join {
  transform: translateX(93px);
  width: 159px;
  top: 10px;
  right: 25px;
  z-index: 2;
}
.middle-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
