.bottom{
    /* background: white; */
}
.about-comapny {
    
    background-color: #f8f9fa;
    height: fit-content;
}
.about-comapny header h5{

}
.about-comapny header h5{

}
.about-comapny header p{
    padding: 5px;
    border-radius: 5px;
}