.load-profile-spinner {
  color: #009688;
  /* font-size: 50px; */
  width: 4rem;
  height: 4rem;
}
.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
