*{
  /* box-sizing: border-box; */
}
.single-job {
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    margin-top: 45px;
}

.single-job .experience-needed ,
 .single-job .education, 
 .single-job .perks,
 .single-job .working-days{
     padding: 10px;
    border-radius: 10px;}
.single-job .working-days{
  display: flex;
    list-style: none;
    justify-content: space-between;
}
.single-job .working-days li{
  margin: 0 5px;
}
 .job-details-parent{
   background: #f6f7f5;
 }
.single-job .working-days li{
     border-radius: 3px;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
}


.single-job .title{
  padding-right: 5px;
    color: red;
 font-weight: bold;
}
.single-job .perks li{
font-weight: 600;
color: rgb(0, 197, 33);
letter-spacing: 3px;
list-style-type: none
}
 
 
.single-job .top{    
align-items: center;
    border-bottom: 1px coral solid;}
.single-job .apply{  
    color: #0fc962;
    text-transform: capitalize;
    text-align: center;
    border: 1px #0fc962 solid;
    margin: 0 5px;
    padding: 5px 9px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background ease-in-out 0.3s;
    width: fit-content;

}
.single-job .apply:hover{
  background:  #079547;;
  color: white;
}
.single-job .co-info{
    border-radius: 10px;
    display: flex;
    align-items: center;
 
}
.single-job .co-info a{
    color: black;
    font-weight: bold;

}

.single-job .co-info img{
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.single-job .more-top{
    background-color: #939ac3;
}

.single-job .more-top h4{
  color: green;
 }
 .more-top .right{
  background: var(--main-child-bg-color);

 }
 .more-top .left{
  background: var(--main-child-bg-color);

 }

 .single-job .work-place{
       background: #0fc962;
    padding: 3px;
    border-radius: 5px;
    color: white;
    font-size: 15px;

 }
 header{
  position: relative;
    justify-content: center;
    align-items: center;
}
 /* .single-job .apply-btn{
   position: absolute;
   left: 0; bottom: 0;
  } */
 .single-job header .title
 {
color: #002397

 }
 
.single-job .sm-related-jobs{
    padding: 10px;
    overflow-y: scroll;
    border-left: 3px #bbbfd7 solid;
    height: calc(100vh - 50px);
    background: #f9fff3;
}
 .related-job{
 }

 .single-job .job-details-title{
     text-transform: capitalize;
     border-right: 2px #4caf50 solid;
    border-left: 2px #4caf50 solid;
    padding: 5px 10px;
    background: white;
    width: fit-content;
 }
 .single-job .apply-and-title-parent{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }