.social-media {
  display: block;
  background: #f5f8f3;
}
.social-media .social-media-icon {
  font-size: 30px;
  cursor: pointer;
}
 
.social-media .linkedIn {
  color:  rgb(6, 193, 255);
}
.social-media .twitter {
  color: rgb(6, 193, 255);
}
.social-media .github {
  
    color: rgb(27 36 39);
}
.media-link{
    display: flex;
    justify-content: space-between;
    width: 95%;
    background: white;
    margin: auto;
}
.media-link div{
    display: flex;
    justify-content: space-between;
}
.media-link input{
outline: none;
border-radius: 3px;
border: var( --main-input-border);
    outline: none;
    border-radius: 3px;
    border: var( --main-input-border);
    flex-grow: 1;

}













